@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    @apply outline-none focus:outline-none selection:bg-slate-200/25;
  }
}

@layer utilities{
  .shine{
    text-shadow: 0 0 2.5px theme('colors.slate.50'), 0 0 5px theme('colors.slate.600');
  }
}